# Global Project Configuration (Example)

# Administrative Credentials
ADMIN_1_EMAIL=admin1@vpsims.com
ADMIN_1_PASSWORD=Admin@123

ADMIN_2_EMAIL=admin2@vpsims.com
ADMIN_2_PASSWORD=Admin@123

# Service Ports
BACKEND_PORT=5164
FRONTEND_PORT=5173
